
 <div class="control-panel">
   <header class="header">
      <div class="logo-brand ">
        <i class="fas fa-bus"></i><span><strong> ticketMe</strong></span>
      </div>
      <div class="nav-bar upper-case">
         <ul>
            <li class="center"><a href="/home">Trang chủ</a></li>
            <li class="center">Chuyến xe</li>
            <li class="center">Tuyển dụng</li>
            <li class="center">Đặt vé</li>
          </ul>
      </div>
      <div class="action faded">
        <% if(typeof user != 'undefined'){ %>
          <ul>
            <li class="center">Liên hệ</li>
          
              <div class="dropdown center">
                <a  class="dropbtn"><i class="fas fa-user fa-1x" style="color:var(--main);"></i></a>
                <div class="dropdown-content">
                  <a href="#">Đổi mật khẩu</a>
                  <a href="/user/logout">Đăng xuất</a>
                </div>
              </div>
            
          </ul>
         
        <% } else{%>
           <ul>
            <li class="center" style="float:right;"><a href="/user/account#dangki"  >Đăng kí</a></li>
            <li class="center"><a href="/user/account#dangnhap" >Đăng nhập</a></li>

          </ul>
        <% }%>
      </div>
    </header>
  </div>