<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Flatpickr CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.css">
    <!-- My own CSS -->
    <link rel="stylesheet" type="text/css" href="/panel.css">
    <link rel="stylesheet" type="text/css" href="glider.css">

     <!-- <link rel="stylesheet" type="text/css" href="/style.css"> -->


     <script src="/owl.carousel.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
     <script src="https://unpkg.com/@glidejs/glide"></script>
    <!-- Import font -->
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <!-- Jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--  Flatpickr  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.js"></script>

   <title>ticketMe| Trang chủ</title>
  </head>
  <body>
<div class="container">
    <% include ./partials/header %>
<!-- <div class="right-side">

  <ul class="tabs">
    <li class="tab-link current" data-tab="tab-1">Đổi mật khẩu</li>
    <li class="tab-link" data-tab="tab-2">Đổi email</li>
    <li class="tab-link" data-tab="tab-3">Nạp tiền</li>

  </ul>

  <div id="tab-1" class="tab-content current">
    <form action="/user/me/pass" method="POST" enctype="formdata">
      <input type="text" name="old" placeholder="Mật khẩu cũ"></br>
      <input type="text" name="new" placeholder="Mật khẩu mới">
      <button type="submit">Thay doi</button>
    </form>
    <% include ./partials/messages %>
      
  </div>
  <div id="tab-2" class="tab-content">
    <form action="/user/me/email" method="POST">
      <input type="text" name="email" placeholder="Nhập email mới">
      <input type="text" name="password" placeholder="Xác nhận mật khẩu">

      <button type="submit">Thay doi</button>
    </form>
     
  </div>
  <div id="tab-3" class="tab-content">
   <form action="/user/me/naptien">
      <input type="text"></br>
      <input type="text">
      <input type="text">
      <button type="submit">Thay doi</button>
    </form>
    
  </div> -->
  <div class="change-password-modal">
  <h2 class="modal-header">Thay đổi mật khẩu</h2>
  <section class="modal-body">
    <form class="modal-form">
      <div class="modal-form-group">
            <label for="password">Mật khẩu mới </label>
    <input type="text" name="password" value="" placeholder="Nhập mật khẩu mới" id="password" onkeyup="handleValid()">
      </div>
            <div class="modal-form-group">
            <label for="confirm-password">Xác nhận mật khẩu </label>
    <input type="password" name="confirm-password" value="" placeholder="Xác nhận mật khẩu" id="password2" onkeyup="handleConfirmPass()">
      </div>
      <div class="modal-form-group">
        <span class="modal-hlp-txt">* Bạn sẽ đăng nhập lại nếu đổi mật khẩu thành công</span>
      </div>
    </form>
    <div class="password-guidelines">
      <h3 class="guidelines-header">Yêu cầu mật khẩu</h3>
      <div class="guidelines-description">
        <p class="pass-rule">Có ít nhất 6 ̉kí tự</p>
        <p class="pass-rule">Có ít nhất 1 kí tự số </p> 
        <p class="pass-rule">Bao gồm kí tự đặc biệt</p>
        <p class="pass-rule">Khớp mật khẩu</p>

        
      </div>
    </div>
  </section>
  <div class="modal-footer">
    <button class="modal-btn secondary-btn" id="moveBtn" disabled>Lưu mật khẩu</button>
  </div>
</div>
<div class="change-email-modal">
  <h2 class="modal-header">Thay đổi email</h2>
  <section class="modal-body">
    <form class="modal-form">
      <div class="modal-form-group">
            <label for="password">Email mới </label>
    <input type="text" name="password" placeholder="Enter Password" id="passgword">
      </div>
            <div class="modal-form-group">
            <label for="confirm-password">Xác nhận mật khẩu </label>
    <input type="password" name="confirm-password" placeholder="Confirm Your Password" id="confirm-fpassword">
      </div>
      <div class="modal-form-group">
        <span class="modal-hlp-txt">* Bạn sẽ đăng nhập lại nếu đổi mật khẩu thành công</span>
      </div>
    </form>
    <div class="password-guidelines">
      <h3 class="guidelines-header">Yêu cầu email</h3>
      <div class="guidelines-description">
        <p>Must be 6 - 15 character</p>
        <p>Must be 6 - 15 character</p>
        <p>Must be 6 - 15 character</p>
        <p>Must be 6 - 15 character</p>
      </div>
    </div>
  </section>
  <div class="modal-footer">
    <button class="modal-btn secondary-btn">Lưu thay đổi</button>
  </div>
</div>

</div><!-- container -->
    <% include ./partials/footer %>
</div>
 <style>
   


.right-side {

 
  width:35%;
   margin: 100px 50%;
  font-family: 'Roboto', sans-serif;
  height:400px;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.66667;
}




    ul.tabs{
      margin: 0px;
      padding: 0px;
      list-style: none;
      background:white;
    }
    ul.tabs li{
      background: none;
      color: #222;
      display: inline-block;
      padding: 10px 15px;
      cursor: pointer;
    }

    ul.tabs li.current{
      background: #ededed;
      color: #222;
    }

    .tab-content{
      display: none;
      background: #ededed;
      padding: 15px;
      height: 400px;

    }

    .tab-content.current{
      display: inherit;
    }
    body,input {
  font-family: 'Montserrat', sans-serif;
}
.change-email-modal{
  display: none;
}
.change-password-modal,.change-email-modal {
  width: 50%;
  margin-left: 45%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  border: 1px solid #ccc;
  height: 350px;
  padding: 0 10px;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}
.modal-header {
  margin:10px 0;
  font-size: 24px;
  font-weight: 600;
  color: #3C414F;
}
.modal-body {
  display: flex;
  justify-content: space-between;
  
}
.modal-form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
 
 
}
 
 .modal-form-group .modal-hlp-txt {
    font-size: 14px;
  }
.modal-form-group input {
    font-size: 13px;
    padding: 10px 0px;
    margin-top: 10px;
    border: none;
    border-bottom: 1px solid #AAA;
    outline: none;
  }
.modal-form-group label {
    color: #3C414F;
    font-weight: 600;
  }
.modal-form, .password-guidelines {
  width: 45%;
  padding: 10px 10px;


}
.password-guidelines {

  border-radius: 2px;
  border: 1px solid #ccc;
  padding: 0px 10px;
  height: 75%;
}
.guidelines-header {
  color: #3C414F;
  font-size: 20px;
  font-weight: 600;
  border-bottom: 1px solid #ccc;
  margin: 5px;
}
.guidelines-sub-header {
  color: #3C414F;
  font-size: 16px;
  font-weight: 600;
  padding: 5px 0px;
}
.guidelines-description p {
    color: #7a7676;
    margin-bottom: 5px;
   
  }
  

.modal-footer {
  display: flex;
  justify-content: space-between;
}
.modal-btn {
  margin: 20px 10px;
  min-width: 100px;
  font-size: 15px;
  padding: 8px;
  background: #EC5D10;
  border-radius: 2px;
 border: none;
}
.modal-btn:disabled{
  background: #ccc;
}
 </style>
 <script src="/validation.js"></script>
<script >
$(document).ready(function(){
  
  $('ul.tabs li').click(function(){
    var tab_id = $(this).attr('data-tab');

    $('ul.tabs li').removeClass('current');
    $('.tab-content').removeClass('current');

    $(this).addClass('current');
    $("#"+tab_id).addClass('current');
  })

})






</script>

  </body>


</html>
